.pokedex-header {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.pokedex-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.pokedex-logo {
  width: 72px;
  margin-top: 10px;
  float: left;
}

.pokedex-tmdb-logo {
  width: 122px;
  margin-top: 25px;
  float: right;
}

@media screen and (max-width: 500px) {
  .pokedex-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .pokedex-tmdb-logo {
    display: inline-block;
    width: 80px;
    margin-top: 0px;
  }

  .pokedex-logo {
    width: 48px;
    margin-top: 5px;
  }
}
